/* These styles are being used for demonstrating the `@apostrophecms/styles` module */
:root {
  --content-max-width: 1200px;
}

main {
  width: 100%;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}